.nav-container{
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 15vh;
    background-color: rgba(209, 178, 6, 0.925);
}

.navbar a{
    text-decoration: none;
}

.navbar-logo{
    justify-self: start;
    margin-left: 20px;
    color: white;
    margin-top: 4vh;
    cursor: pointer;
}

.seeCarrito{
    font-size: 25 px;
    margin-right: 20px;
    margin-top: 4vh;
    cursor:pointer;
    text-decoration: none;
}